/*events*/
#hireMeBtn:hover, #menuBtn:hover, #adress:hover, #number:hover,
#mail:hover, #facebook:hover, #instagram:hover, #github:hover {
	color:gray; 
	transition:all 0.3s;
}

.two:hover, .three:hover, .four:hover, .five:hover, .six:hover {
	filter:brightness(130%) blur(0.1px);
	color:gray;
} 

.first{
	animation-delay:0.5s;
	-moz-animation-delay:0.5s;
	-webkit-animation-delay:0.5s;
}

.second{
	animation-delay:1s;
	-moz-animation-delay:1s;
	-webkit-animation-delay:1s;
}


body {
    margin: 0;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
   	-webkit-font-smoothing: antialiased;
    line-height: 1.4;
    width: 100%;
    height: 100%;
}

.pushDown {
	1transform:translateX(0px);
	top:0;
	transition: all .5s ease;
}

.hireMe {
	1position: fixed;
	1top:-700px;
	width: 100%;
	height: 700px;
	background-color: #f8f8f8;
	text-align: center;
}

#wrapText h1 {
	margin:0;
	padding-bottom: 20px;
}

#wrapText span {
	font-size: 0.7em;
}

#infoHead {
	font-weight: 200;
	font-size: 0.9em;
	margin-top: 50px;
}

#info {
	font-weight: 400;
	font-size: 0.8em;
	margin-top: 5px;
}

#wrapText div {
}

#wrapText {
	padding: 5%;
}

/*right-push-menu*/
#menu {
    position: fixed;
    z-index: 100;
    top: 0;
    right: -450px;

	width:450px;
	height:800px;
	margin-top: 82.5px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    background-color: #f8f8f8;
}

#menu ul {
    padding: 23% 38%;
    list-style-type: none;
}

#menu ul li a {
    display: block;

    font-size: 38px;
    margin-bottom: 10px;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;

    text-decoration: none;
    color: #232629;
}

#menu ul li a:hover {
    1letter-spacing: 1px;
    color:gray; 
}

.articlePage {
	transition: all 0.8s ease-out;	
}

.hireMePlusHeader {
	position: fixed;
	z-index: 100;
	top: -700px;
	width: 100%;
	transition: all .5s ease;
}

/*header*/
#header {
	background-color:#333333;
	color:white;
	padding-top: 22.5px;
	width: 100%;
	height: 60px;
}

#hireMeBtn {
	margin-left: 6%;
	position: absolute;
	cursor:pointer;
}

#menuBtn {
	margin-right: 6%;
	float: right;
	cursor:pointer;
	transition: all 0.5s ease;
}

#margin {
	height: 82.5px;
	width: 100%;
}


/*.frontPage*/
.frontPage {
	position: relative;
	font-weight: 200;
	1margin-top: 88.5px;

    -webkit-transition: all 0.8s ease-out;
       -moz-transition: all 0.8s ease-out;
         -o-transition: all 0.8s ease-out;
            transition: all 0.8s ease-out;	
}

.frontVideo {
	width: 100%;
}

.title {
	position: absolute;
	width: 100%;
	margin-top: 23%;
	text-align: center;
	color:white;
}

.mainTitle {
	font-family: 'Poiret One', cursive;
	font-size: 5em;
	font-weight: bold;
}


/*.articlePage*/
.articlePage {
	margin: 0% 6%;             
	font-size: 1.6em;
}

article {
	margin-top: 5%;
	margin-bottom: 15%;

    transition: all .3s ease;
}

.one {
	width: 56%;
	padding-left: 42%;
}

.two {
	width: 60%
}

#twoImg {
	width: 100%;
}

.two p {
	width:80%;
}

.three {
	margin-left: 30%;
	width: 70%;
}

#threeImg {
	width: 100%;
}

.four {
	margin-left: -7%;
	width: 90%;
}

.four p {
	margin-left: 7%;
}

#fourImg {
	width: 100%;
}

.five {
	width: 55%;
}

#fiveImg {
	width: 100%;
}

.six {
	margin-left: 40%;
	width: 60%;
}

#sixImg {
	width: 100%;
}

.six p {
	width: 80%;
}

/*footer*/
footer {
	width: 100%;
	height: 150px;
	background-color: #f8f8f8;
	padding-top: 4%;
}

.leftPart {
	margin-left: 6%;
	position: absolute;
	cursor:pointer;
}

.rightPart {
	margin-right: 13%;
	float: right;
	cursor:pointer;
}

.toTopBtn {
	cursor: pointer;
	position: fixed;
	right:68px;
	bottom:-50px;
	transition: all 0.5s ease-out;
	font-size: 1.5em;
	text-align: center;
}

.toTopBtn:hover {
	color:gray;
	transition: all 0.1s ease-out;
	line-height: 200%;
}